#back_home_button{
    text-decoration: none;
    color: black;
}
.cart_content{
    margin-top: 50px;
}
table{
    width: 100%;
    table-layout: fixed;
}
#table_title{
    border-bottom: 0.1px solid ;
    padding-bottom:  15px;
    margin-bottom:  25px;
     
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
td {
    display: flex;
    align-items: center;
    
}

#pro{
    width: 30%;
}
.image_name_td{
    width: 31%;
}
span{
    width: 25px;
    height: 22px;
    border: solid 1px;
    border-radius: 3px;
    text-align: center;
    margin: 6px;
}
span:hover{
    cursor: pointer;
}
.total_div{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.delbut{
    opacity: 50%;

}
.delbut:hover{
    cursor: pointer;
    opacity: 100%;
}